<form action="/api/api/services/update/<%= showID._id %>" method="POST">
    <table>
        <tr>
            <th><label for="id">ID dịch vụ</label></th>
            <td><input type="text" id="id" name="id" value="<%= showID._id %>" readonly /></td>
        </tr>
        <tr>
            <th><label for="name">Tên dịch vụ mới</label></th>
            <td><input type="text" id="name" name="name" value="<%= showID.name %>" required /></td>
        </tr>
        <tr>
            <th><label for="description">Mô tả mới</label></th>
            <td><input type="text" id="description" name="description" value="<%= showID.description %>" required />
            </td>
        </tr>
        <tr>
            <th><label for="price">Giá tiền mới</label></th>
            <td><input type="text" id="price" name="price" value="<%= showID.price %>" required /></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn">Cập nhật bài viết</button>
                <a href="/api/api/services" class="btn">Trở lại danh sách</a>
            </td>
        </tr>
    </table>
</form>
<style>
    table {
        width: 50%;
        border-collapse: collapse;
    }

    td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    input[type="text"],
    textarea {
        font-size: 18px;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    textarea {
        height: 100px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #2ba8ca;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
</style>